html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

#wrapper {
  width: 100%;
  min-height: 100% !important;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #449dd1, #6332b7);
  padding: 2em;
}

#card {
  background-color: #e1e4ea;
  box-shadow: 10px 10px 10px #6c6c6f;
  border-radius: 15px;
  max-width: 95%;
  padding: 1em;
}

#sidebar {
  width: 20%;
  padding-top: 2vw;
}

#break {
  border: 2px solid grey;
}

#sidebar_logo {
  width: 100%;
}

#sidebar_logo>h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #4e4d51;
}
#sidebar_logo>h4 {
  text-align: center;
  margin-top: 0;
  color: #a7a6ab;
}

#logo {
  width: 85%;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid #4e4d51;
}

#navigation_menu {
  list-style: none;
  padding-left: 2vw;
  color: #4e4d51;
  /*display: none;*/
}

#navigation_submenu {
  list-style: none;
  padding-left: 1vw;
  color: #a7a6ab;
}

#content {
  padding: 2vw;
}

#page>h1 {
  color: #4e4d51;
}

#page>h3 {
  color: #4e4d51;
  font-weight: 200;
  font-size: 1.75em;
}

#page>h1::after {
  content: '';
  width: 80%;
  height: 2px;
  background-image: linear-gradient(to right, #449dd1, #6332b7);
  display: block;
}

#card>h1 {
  margin: 0;
  padding: 0;
  text-align: right;
  font-weight: 200;
}

#contactBtns {
  display: block;
  width: 100%;
  margin-top: 2em;
}

#btn {
  border: 1px solid #4e4d51;
  background-color: inherit;
  color: #4e4d51;
  padding: 1vw;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

#btn>i {
  padding-right: 0.5vw;
}
